<div class="body_content">
  <div class="card cad_tam malt mat-elevation-z8">
    <div class="card-header ">
      Inicio >
      <a style="color: #9b1a37;">{{pageTitle}}</a>
      <br />
      <br />
      <span class="text_title">{{pageTitle}} </span>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="alert alert-danger" role="alert" *ngIf="mensagem_error">
          Ocorreu um erro na hora de cadastrar o Operador
          Verifique os campos preenchidos e tente novamente</div>
      </div>
    </div>
    <div class="card-body">
      <form class="formApp" [formGroup]="cad_operador">
        <div class="row">
          <div class="margrequeried">
            <label><span class="req">*</span><b> Obrigatório</b></label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <span><strong>Nome do Operador </strong></span>
            <input type="text" formControlName="nomeOperador" placeholder="Nome do Operador"
              [ngClass]="{ 'is-invalid': submitted && f.nomeOperador.errors }" class="form-control input-sm"
              maxlength="100" id="nomeOperador" />
            <div *ngIf="submitted && f.nomeOperador.errors" class="invalid-feedback">
              <div *ngIf="f.nomeOperador.errors">{{invalid_nomeOperador.menssage}}</div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <span><strong>Login do Operador </strong></span>
            <input type="text" formControlName="loginOperador" placeholder="Login do Operador"
              [ngClass]="{ 'is-invalid': submitted && f.loginOperador.errors }" class="form-control input-sm"
              maxlength="15" id="loginOperador" />
            <div *ngIf="submitted && f.loginOperador.errors" class="invalid-feedback">
              <div *ngIf="f.loginOperador.errors">{{invalid_loginOperador.menssage}}</div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <span><strong>Senha do Operador </strong></span>
            <input type="password" formControlName="senhaOperador" placeholder="Senha do Operador"
              [ngClass]="{ 'is-invalid': submitted && f.senhaOperador.errors }" class="form-control input-sm"
              minlength="6" maxlength="15" id="senhaOperador" />
            <div *ngIf="submitted && f.senhaOperador.errors" class="invalid-feedback">
              <div *ngIf="f.senhaOperador.errors">{{invalid_senhaOperador.menssage}}</div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <label><strong>Perfil do Operador</strong></label>
            <br />
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="perfilOperador" id="gerente"
                value="gerente">
              <label class="form-check-label" for="gerente">
                Gerente
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="perfilOperador" id="analista"
                value="analista">
              <label class="form-check-label" for="analista">
                Analista
              </label>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <button class="btn btn-secondary marginbutton" type="button" (click)="voltar()"><i class="fa fa-arrow-left"
                aria-hidden="true"></i>
              Voltar</button>
            <button class="btn btn-primary marginbutton" type="button" (click)="onSubmit()">Salvar</button>
            <br />
            <br />
          </div>
        </div>
        <div class="w-100">&nbsp;</div>
      </form>
    </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop:true }"
    [template]="customLoadingTemplate"></ngx-loading>
</div>